<!--Header section start-->
<header class="header header-static bg-black header-sticky">
    <div class="default-header menu-right">
        <div class="container container-1520">
            <div class="row">

                <!--Logo start-->
                <div class="col-12 col-md-3 col-lg-3 order-md-1 order-lg-1 mt-20 mb-20">
                    <div class="logo">
                        <a routerLink="/" style="color: white;font-size:20px;font-weight: bold;text-transform: uppercase;">ZERO ONLINE II</a>
                    </div>
                </div>
                <!--Logo end-->

                <!--Menu start-->
                <div class="col-lg-6 col-12 order-md-3 order-lg-2 d-flex justify-content-center">
                    <nav class="main-menu menu-style-2">
                        <ul *ngIf="menus">
                            <li *ngFor="let menu of menus"><a routerLink="{{menu.url}}">{{menu.text}}</a>
                                <ul class="sub-menu" *ngIf="menu.children">
                                    <li *ngFor="let chil of menu.children"><a routerLink="{{chil.url}}">{{chil.text}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!--Menu end-->

                <!--Header Right Wrap-->
                <div class="col-12 col-md-9 order-md-2 order-lg-3 col-lg-3">
                    <div class="header-right-wrap">
                        <ul>
                            <li><a [routerLink]="['/Auth/SignIn']" routerLinkActive="router-link-active">LOGIN</a></li>
                            <li><a [routerLink]="['/Auth/SignUp']" routerLinkActive="router-link-active">REGISTER</a></li>
                        </ul>
                    </div>
                </div>
                <!--Header Right Wrap-->
            </div>
        </div>
    </div>
</header>
<!--Header section end-->