<!--Page Banner Area Start-->
<div class="page-banner-area" style="background-image: url(http://demo.hasthemes.com/gilbard-preview/gilbard/assets/images/bg/page-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-content text-center">
                    <h1>Zero Online II</h1>
                    <a class="df-btn" href="#">Download now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Page Banner Area End-->